eZ/Publish/Core/FieldType/RichText/Resources/schemas/ezxhtml5/edit/ezxhtml5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- =====================================================================
     A W3C XML Schema for XHTML 5.
     Corresponds to W3C Candidate Recommendation 17 December 2012.

     Author: Olivier Ishacian

     Copyright (c) 2012-2013 Pixware SARL.

     Permission is hereby granted, free of charge, to any person
     obtaining a copy of this software and associated
     documentation files (the "Software"), to deal in the
     Software without restriction, including without limitation
     the rights to use, copy, modify, merge, publish, distribute,
     sublicense, and/or sell copies of the Software, and to
     permit persons to whom the Software is furnished to do so,
     subject to the following conditions:

     The above copyright notice and this permission notice shall
     be included in all copies or substantial portions of the
     Software.

     THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY
     KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE
     WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
     PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS
     OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR
     OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR
     OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
     SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
     ===================================================================== -->

<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns="http://ez.no/namespaces/ezpublish5/xhtml5/edit"
  xmlns:html="http://www.w3.org/1999/xhtml"
  xmlns:svg="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  xmlns:mml="http://www.w3.org/1998/Math/MathML"
  targetNamespace="http://ez.no/namespaces/ezpublish5/xhtml5/edit"
  elementFormDefault="qualified">

  <!-- The root element ================================================== -->

  <xs:simpleType name="uri">
    <xs:restriction base="xs:anyURI"/>
  </xs:simpleType>

  <!-- Document metadata ================================================= -->

  <xs:simpleType name="browsingContextNameOrKeyword">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:NMTOKEN">
          <xs:enumeration value="_blank"/>
          <xs:enumeration value="_self"/>
          <xs:enumeration value="_parent"/>
          <xs:enumeration value="_top"/>
        </xs:restriction>
      </xs:simpleType>

      <xs:simpleType>
        <xs:restriction base="browsingContextName"/>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <xs:simpleType name="browsingContextName">
    <xs:restriction base="xs:token">
      <xs:pattern value="[^_].*"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="languageTag">
    <xs:restriction base="xs:language"/>
  </xs:simpleType>

  <xs:simpleType name="tokens">
    <xs:list itemType="token"/>
  </xs:simpleType>

  <xs:simpleType name="token">
    <xs:restriction base="xs:token">
      <xs:pattern value="\S+"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="mediaQueryList">
    <xs:restriction base="nonEmptyToken"/>
  </xs:simpleType>

  <xs:simpleType name="nonEmptyToken">
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="mimeType">
    <!-- A MIME type may have a parameter.
         Example: "application/dita+xml; format=dita" -->
    <xs:restriction base="nonEmptyToken"/>
  </xs:simpleType>

  <xs:simpleType name="string">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <!-- Sections ========================================================== -->

  <xs:complexType name="flowContentElement" mixed="true">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:group ref="flowContent"/>
    </xs:sequence>
    <xs:attributeGroup ref="globalAttributeGroup"/>
  </xs:complexType>

  <xs:element name="section" type="flowContentElement"/>

  <!--xs:element name="aside" type="flowContentElement"/-->

  <xs:element name="h1" type="phrasingContentElement"/>

  <xs:element name="h2" type="phrasingContentElement"/>

  <xs:element name="h3" type="phrasingContentElement"/>

  <xs:element name="h4" type="phrasingContentElement"/>

  <xs:element name="h5" type="phrasingContentElement"/>

  <xs:element name="h6" type="phrasingContentElement"/>

  <!-- Hgroup commented out

  <xs:element name="hgroup">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="h1"/>
        <xs:element ref="h2"/>
        <xs:element ref="h3"/>
        <xs:element ref="h4"/>
        <xs:element ref="h5"/>
        <xs:element ref="h6"/>
      </xs:choice>
      <xs:attributeGroup ref="globalAttributeGroup"/>
    </xs:complexType>
  </xs:element>

  -->

  <!-- LIMITATION: allows header, footer, address descendants. -->
  <!--xs:element name="header" type="flowContentElement"/-->

  <!-- LIMITATION: allows header, footer, address descendants. -->
  <!--xs:element name="footer" type="flowContentElement"/-->

  <!-- LIMITATION: allows heading content, sectioning content,
       header, footer, address descendants. -->
  <!--xs:element name="address" type="flowContentElement"/-->

  <!-- Grouping content ================================================== -->

  <xs:element name="p" type="phrasingContentElement"/>

  <xs:complexType name="phrasingContentElement" mixed="true">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:group ref="phrasingContent"/>
    </xs:sequence>
    <xs:attributeGroup ref="globalAttributeGroup"/>
  </xs:complexType>

  <xs:element name="hr">
    <xs:complexType>
      <xs:attributeGroup ref="globalAttributeGroup"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="pre" type="phrasingContentElement"/>

  <xs:element name="blockquote">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="flowContentElement">
          <xs:attribute name="cite" type="uri"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="ol">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element name="li">
          <xs:complexType>
            <xs:complexContent>
              <xs:extension base="li">
                <xs:attribute name="value" type="integer"/>
              </xs:extension>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="globalAttributeGroup"/>
      <xs:attribute name="type" type="olType" default="1"/>
      <xs:attribute name="start" type="integer"/>
      <xs:attribute name="reversed">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="reversed"/>
            <xs:enumeration value=""/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="olType">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="1"/>
      <xs:enumeration value="a"/>
      <xs:enumeration value="A"/>
      <xs:enumeration value="i"/>
      <xs:enumeration value="I"/>
    </xs:restriction>
  </xs:simpleType>


  <xs:complexType name="li">
    <xs:complexContent>
      <xs:extension base="flowContentElement"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="integer">
    <xs:restriction base="xs:integer"/>
  </xs:simpleType>

  <xs:element name="ul">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element name="li" type="li"/>
      </xs:sequence>
      <xs:attributeGroup ref="globalAttributeGroup"/>
    </xs:complexType>
  </xs:element>

  <!-- NOT A TOP ELEMENT: li -->

  <!-- Dl commented out

  <xs:element name="dl">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="dt" maxOccurs="unbounded"/>
        <xs:element ref="dd" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="globalAttributeGroup"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="dt" type="phrasingContentElement"/>

  <xs:element name="dd" type="flowContentElement"/>

  -->

  <!-- Figure commented out

  <xs:element name="figure">
    <xs:complexType mixed="true">
      <!- - LIMITATION: allows to have text other than whitespace
           before leading figcaption or trailing figcaption. - - >
      <xs:choice>
        <xs:sequence>
          <xs:element ref="figcaption"/>
          <xs:group ref="flowContent" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:sequence>
          <xs:group ref="flowContent" maxOccurs="unbounded"/>
          <xs:element ref="figcaption" minOccurs="0"/>
        </xs:sequence>
      </xs:choice>
      <xs:attributeGroup ref="globalAttributeGroup"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="figcaption" type="flowContentElement"/>

  -->

  <!-- Text-level semantics ============================================== -->

  <!-- NOT A TOP ELEMENT: a -->
  <!-- LIMITATION: allows interactive content descendants. -->


  <xs:attributeGroup name="aAttributeGroup">
    <xs:attribute name="href" type="uri"/>
    <xs:attribute name="target" type="browsingContextNameOrKeyword"/>
    <xs:attribute name="rel" type="tokens"/>
    <xs:attribute name="hreflang" type="languageTag"/>
    <xs:attribute name="media" type="mediaQueryList"/>
    <xs:attribute name="type" type="mimeType"/>
  </xs:attributeGroup>

  <xs:element name="em" type="phrasingContentElement"/>

  <xs:element name="strong" type="phrasingContentElement"/>

  <xs:element name="small" type="phrasingContentElement"/>

  <xs:element name="s" type="phrasingContentElement"/>

  <!--xs:element name="cite" type="phrasingContentElement"/-->

  <!--xs:element name="q">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="phrasingContentElement">
          <xs:attribute name="cite" type="uri"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element-->

  <!--xs:element name="dfn" type="phrasingContentElement"/-->

  <!--xs:element name="abbr" type="phrasingContentElement"/-->

  <!--xs:element name="time">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="phrasingContentElement">
          <xs:attribute name="datetime" type="dateTime"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element-->

  <!--xs:simpleType name="dateTime">
    <xs:restriction base="nonEmptyToken"/>
  </xs:simpleType-->

  <!--xs:element name="code" type="phrasingContentElement"/-->

  <!--xs:element name="var" type="phrasingContentElement"/-->

  <!--xs:element name="samp" type="phrasingContentElement"/-->

  <!--xs:element name="kbd" type="phrasingContentElement"/-->

  <xs:element name="sub" type="phrasingContentElement"/>

  <xs:element name="sup" type="phrasingContentElement"/>

  <xs:element name="i" type="phrasingContentElement"/>

  <xs:element name="b" type="phrasingContentElement"/>

  <xs:element name="u" type="phrasingContentElement"/>

  <!--xs:element name="mark" type="phrasingContentElement"/-->

  <!-- Ruby commented out

  <xs:element name="ruby">
    <xs:complexType mixed="true">
      <!- - LIMITATION: allows to insert text other than whitespace
           between the rp pair. - ->
      <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:group ref="phrasingContent" minOccurs="0" maxOccurs="unbounded"/>
        <xs:choice>
          <xs:sequence>
            <xs:element ref="rt"/>
          </xs:sequence>
          <xs:sequence>
            <xs:element ref="rp"/>
            <xs:element ref="rt"/>
            <xs:element ref="rp"/>
          </xs:sequence>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="globalAttributeGroup"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="rt" type="phrasingContentElement"/>

  <xs:element name="rp" type="phrasingContentElement"/>

  -->

  <!--xs:element name="bdi">
    <xs:complexType mixed="true">
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="phrasingContent"/>
      </xs:sequence>
      <xs:attributeGroup ref="coreAttributeGroupNodir"/>
      <xs:attribute name="dir" type="dir" default="auto" />
    </xs:complexType>
  </xs:element-->

  <!--xs:simpleType name="dir">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="ltr"/>
      <xs:enumeration value="rtl"/>
      <xs:enumeration value="auto"/>
    </xs:restriction>
  </xs:simpleType-->

  <!--xs:element name="bdo">
    <xs:complexType mixed="true">
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="phrasingContent"/>
      </xs:sequence>
      <xs:attributeGroup ref="coreAttributeGroupNodir"/>
      <xs:attribute name="dir" type="dir" use="required" />
    </xs:complexType>
  </xs:element-->

  <xs:element name="br">
    <xs:complexType>
      <xs:attributeGroup ref="globalAttributeGroup"/>
    </xs:complexType>
  </xs:element>

  <!--xs:element name="wbr">
    <xs:complexType>
      <xs:attributeGroup ref="globalAttributeGroup"/>
    </xs:complexType>
  </xs:element-->

  <!-- Edits ============================================================= -->

  <!-- ins element -->

  <!-- Ins commented out

  <xs:complexType name="insFlow">
    <xs:complexContent>
      <xs:extension base="flowContentElement">
        <xs:attribute name="cite" type="uri"/>
        <xs:attribute name="datetime" type="date"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="insPhrasing">
    <xs:complexContent>
      <xs:extension base="phrasingContentElement">
        <xs:attribute name="cite" type="uri"/>
        <xs:attribute name="datetime" type="date"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  -->

  <xs:simpleType name="date">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:date"/>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:dateTime"/>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <!-- del element -->

  <xs:complexType name="delFlow">
    <xs:complexContent>
      <xs:extension base="flowContentElement">
        <xs:attribute name="cite" type="uri"/>
        <xs:attribute name="datetime" type="date"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="delPhrasing">
    <xs:complexContent>
      <xs:extension base="phrasingContentElement">
        <xs:attribute name="cite" type="uri"/>
        <xs:attribute name="datetime" type="date"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- Embedded content ================================================== -->

  <!-- Img commented out

  <xs:element name="img">
    <xs:complexType>
      <xs:attributeGroup ref="globalAttributeGroup"/>
      <xs:attribute name="src" type="uri" use="required"/>
      <xs:attribute name="alt" type="nonEmptyToken"/>
      <xs:attribute name="height" type="nonNegativeInteger"/>
      <xs:attribute name="width" type="nonNegativeInteger"/>
      <xs:attribute name="usemap" type="hashNameRef"/>
      <xs:attribute name="ismap" type="ismap"/>
      <xs:attribute name="crossorigin" type="crossOrigin"/>
    </xs:complexType>
  </xs:element>

  -->

  <xs:simpleType name="nonNegativeInteger">
    <xs:restriction base="xs:nonNegativeInteger"/>
  </xs:simpleType>

  <!--xs:simpleType name="hashNameRef">
    <xs:restriction base="xs:token">
      <xs:pattern value="#\S+"/>
    </xs:restriction>
  </xs:simpleType-->

  <!--xs:simpleType name="ismap">
    <xs:restriction base="xs:token">
      <xs:enumeration value="ismap"/>
      <xs:enumeration value=""/>
    </xs:restriction>
  </xs:simpleType-->

  <xs:element name="embed">
    <xs:complexType>
      <!-- LIMITATION: may be a descendant of the a and button elements. -->
      <xs:attributeGroup ref="globalAttributeGroup"/>
      <xs:attribute name="src" type="uri"/>
      <xs:attribute name="type" type="mimeType"/>
      <xs:attribute name="height" type="nonNegativeInteger"/>
      <xs:attribute name="width" type="nonNegativeInteger"/>
      <xs:anyAttribute/>
    </xs:complexType>
  </xs:element>

  <!-- NOT A TOP ELEMENT: object -->
  <!-- LIMITATION: allows to have text other than whitespace
       between param elements. -->

  <!-- Object commented out

  <xs:complexType name="objectFlow" mixed="true">
    <xs:sequence>
      <xs:element ref="param" minOccurs="0" maxOccurs="unbounded"/>
      <xs:group ref="flowContent" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attributeGroup ref="globalAttributeGroup"/>
    <xs:attributeGroup ref="objectAttributeGroup"/>
  </xs:complexType>

  <xs:complexType name="objectPhrasing" mixed="true">
    <xs:sequence>
      <xs:element ref="param" minOccurs="0" maxOccurs="unbounded"/>
      <xs:group ref="phrasingContent" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attributeGroup ref="globalAttributeGroup"/>
    <xs:attributeGroup ref="objectAttributeGroup"/>
  </xs:complexType>

  <xs:attributeGroup name="objectAttributeGroup">
    <xs:attribute name="data" type="uri"/>
    <xs:attribute name="type" type="mimeType"/>
    <xs:attribute name="height" type="nonNegativeInteger"/>
    <xs:attribute name="width" type="nonNegativeInteger"/>
    <xs:attribute name="usemap" type="hashNameRef"/>
    <xs:attribute name="name" type="browsingContextName"/>
    <xs:attribute name="form" type="idref"/>
  </xs:attributeGroup>

  <xs:element name="param">
    <xs:complexType>
      <xs:attributeGroup ref="globalAttributeGroup"/>
      <xs:attribute name="name" type="string" use="required"/>
      <xs:attribute name="value" type="string" use="required"/>
    </xs:complexType>
  </xs:element>

  -->

  <!-- NOT A TOP ELEMENT: video -->
  <!-- LIMITATION: allows to have text other than whitespace
       between source and track elements. -->
  <!-- LIMITATION: allow both src attribute and source elements. -->

  <!-- Video commented out

  <xs:complexType name="videoFlow" mixed="true">
    <xs:sequence>
      <xs:element ref="source" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="track" minOccurs="0" maxOccurs="unbounded"/>
      <xs:group ref="flowContent" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attributeGroup ref="globalAttributeGroup"/>
    <xs:attributeGroup ref="videoAttributeGroup"/>
  </xs:complexType>

  <xs:complexType name="videoPhrasing" mixed="true">
    <xs:sequence>
      <xs:element ref="source" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="track" minOccurs="0" maxOccurs="unbounded"/>
      <xs:group ref="phrasingContent" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attributeGroup ref="globalAttributeGroup"/>
    <xs:attributeGroup ref="videoAttributeGroup"/>
  </xs:complexType>

  <xs:attributeGroup name="videoAttributeGroup">
    <xs:attribute name="src" type="uri"/>
    <xs:attribute name="autoplay" type="autoplay"/>
    <xs:attribute name="preload" type="preload"/>
    <xs:attribute name="controls" type="controls"/>
    <xs:attribute name="loop" type="loop"/>
    <xs:attribute name="poster" type="uri"/>
    <xs:attribute name="height" type="nonNegativeInteger"/>
    <xs:attribute name="width" type="nonNegativeInteger"/>
    <xs:attribute name="muted" type="muted"/>
    <xs:attribute name="mediagroup" type="string"/>
    <xs:attribute name="crossorigin" type="crossOrigin"/>
  </xs:attributeGroup>

  <xs:simpleType name="autoplay">
    <xs:restriction base="xs:token">
      <xs:enumeration value="autoplay"/>
      <xs:enumeration value=""/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="preload">
    <xs:restriction base="xs:token">
      <xs:enumeration value="none"/>
      <xs:enumeration value="metadata"/>
      <xs:enumeration value="auto"/>
      <xs:enumeration value=""/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="controls">
    <xs:restriction base="xs:token">
      <xs:enumeration value="controls"/>
      <xs:enumeration value=""/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="loop">
    <xs:restriction base="xs:token">
      <xs:enumeration value="loop"/>
      <xs:enumeration value=""/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="muted">
    <xs:restriction base="xs:token">
      <xs:enumeration value="muted"/>
      <xs:enumeration value=""/>
    </xs:restriction>
  </xs:simpleType>

  -->

  <!-- NOT A TOP ELEMENT: audio -->
  <!-- LIMITATION: allows to have text other than whitespace
       between source and track elements. -->
  <!-- LIMITATION: allow both src attribute and source elements. -->

  <!-- Audio commented out
  <xs:complexType name="audioFlow" mixed="true">
    <xs:sequence>
      <xs:element ref="source" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="track" minOccurs="0" maxOccurs="unbounded"/>
      <xs:group ref="flowContent" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attributeGroup ref="globalAttributeGroup"/>
    <xs:attributeGroup ref="audioAttributeGroup"/>
  </xs:complexType>

  <xs:complexType name="audioPhrasing" mixed="true">
    <xs:sequence>
      <xs:element ref="source" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="track" minOccurs="0" maxOccurs="unbounded"/>
      <xs:group ref="phrasingContent" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attributeGroup ref="globalAttributeGroup"/>
    <xs:attributeGroup ref="audioAttributeGroup"/>
  </xs:complexType>

  <xs:attributeGroup name="audioAttributeGroup">
    <xs:attribute name="src" type="uri"/>
    <xs:attribute name="autoplay" type="autoplay"/>
    <xs:attribute name="preload" type="preload"/>
    <xs:attribute name="controls" type="controls"/>
    <xs:attribute name="loop" type="loop"/>
    <xs:attribute name="mediagroup" type="string"/>
    <xs:attribute name="crossorigin" type="crossOrigin"/>
  </xs:attributeGroup>

  <xs:element name="source">
    <xs:complexType>
      <xs:attributeGroup ref="globalAttributeGroup"/>
      <xs:attribute name="src" type="uri" use="required"/>
      <xs:attribute name="type" type="mimeType"/>
      <xs:attribute name="media" type="mediaQueryList"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="track">
    <xs:complexType>
      <xs:attributeGroup ref="globalAttributeGroup"/>
      <xs:attribute name="kind" type="trackKind" default="subtitles"/>
      <xs:attribute name="src" type="uri" use="required"/>
      <xs:attribute name="srclang" type="languageTag"/>
      <xs:attribute name="default" type="default"/>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="trackKind">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="subtitles"/>
      <xs:enumeration value="captions"/>
      <xs:enumeration value="descriptions"/>
      <xs:enumeration value="chapters"/>
      <xs:enumeration value="metadata"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="default">
    <xs:restriction base="xs:token">
      <xs:enumeration value="default"/>
      <xs:enumeration value=""/>
    </xs:restriction>
  </xs:simpleType>

  -->

  <!-- NOT A TOP ELEMENT: canvas -->

  <!-- Canvas commented out
  <xs:complexType name="canvasFlow">
    <xs:complexContent>
      <xs:extension base="flowContentElement">
        <xs:attribute name="height" type="nonNegativeInteger"/>
        <xs:attribute name="width" type="nonNegativeInteger"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="canvasPhrasing">
    <xs:complexContent>
      <xs:extension base="phrasingContentElement">
        <xs:attribute name="height" type="nonNegativeInteger"/>
        <xs:attribute name="width" type="nonNegativeInteger"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  -->

  <!-- Tabular data ====================================================== -->

  <xs:element name="table">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="caption" minOccurs="0"/>
        <!--xs:element ref="colgroup" minOccurs="0" maxOccurs="unbounded"/-->
        <xs:element ref="thead" minOccurs="0"/>
        <xs:choice>
          <xs:sequence>
            <xs:element ref="tfoot"/>
            <xs:choice>
              <xs:element ref="tbody" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element ref="tr" maxOccurs="unbounded"/>
            </xs:choice>
          </xs:sequence>
          <xs:sequence>
            <xs:choice>
              <xs:element ref="tbody" maxOccurs="unbounded"/>
              <xs:element ref="tr" maxOccurs="unbounded"/>
            </xs:choice>
            <xs:element ref="tfoot" minOccurs="0"/>
          </xs:sequence>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="globalAttributeGroup"/>
      <xs:attribute name="border">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value=""/>
            <xs:enumeration value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>


  <xs:element name="caption" type="flowContentElement"/>

  <!--xs:element name="colgroup">
    <!- - LIMITATION: the content model is actually: col* OR @span? - ->
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="col"/>
      </xs:sequence>
      <xs:attributeGroup ref="globalAttributeGroup"/>
      <xs:attribute name="span" type="positiveInteger"/>
    </xs:complexType>
  </xs:element-->

  <xs:simpleType name="positiveInteger">
    <xs:restriction base="xs:positiveInteger"/>
  </xs:simpleType>

  <xs:element name="col">
    <xs:complexType>
      <xs:attributeGroup ref="globalAttributeGroup"/>
      <xs:attribute name="span" type="positiveInteger"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="thead" type="tbody"/>

  <xs:element name="tfoot" type="tbody"/>

  <xs:element name="tbody" type="tbody"/>

  <xs:complexType name="tbody">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="tr"/>
    </xs:sequence>
    <xs:attributeGroup ref="globalAttributeGroup"/>
  </xs:complexType>

  <xs:element name="tr">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="td"/>
        <xs:element ref="th"/>
      </xs:choice>
      <xs:attributeGroup ref="globalAttributeGroup"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="td">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="flowContentElement">
          <xs:attributeGroup ref="thAttributeGroup"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:attributeGroup name="thAttributeGroup">
    <xs:attribute name="colspan" type="positiveInteger"/>
    <xs:attribute name="rowspan" type="nonNegativeInteger"/>
    <xs:attribute name="headers" type="idrefs"/>
  </xs:attributeGroup>

  <xs:simpleType name="idrefs">
    <xs:restriction base="idrefs0">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="idrefs0">
    <xs:list itemType="idref"/>
  </xs:simpleType>

  <xs:element name="th">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="flowContentElement">
          <xs:attributeGroup ref="thAttributeGroup"/>
          <xs:attribute name="scope">
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="col"/>
                <!--xs:enumeration value="colgroup"/-->
                <xs:enumeration value="row"/>
                <!--xs:enumeration value="rowgroup"/-->
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="abbr" type="string"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>


  <!-- Forms ============================================================= -->

  <!--xs:simpleType name="required">
    <xs:restriction base="xs:token">
      <xs:enumeration value="required"/>
      <xs:enumeration value=""/>
    </xs:restriction>
  </xs:simpleType-->

  <!-- Interactive elements ============================================== -->

  <!-- Details commented out

  <xs:element name="details">
    <xs:complexType mixed="true">
      <xs:sequence>
        <!- - LIMITATION: allows to have text other than whitespace
             before summary. - ->
        <xs:element ref="summary" minOccurs="0"/>
        <xs:group ref="flowContent" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="globalAttributeGroup"/>
      <xs:attribute name="open" type="open"/>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="open">
    <xs:restriction base="xs:token">
      <xs:enumeration value="open"/>
      <xs:enumeration value=""/>
    </xs:restriction>
  </xs:simpleType>

  -->

  <!-- xs:element name="summary" type="phrasingContentElement"/-->

  <!-- Global Attributes ================================================= -->

  <xs:attributeGroup name="globalAttributeGroup">
    <xs:attributeGroup ref="coreAttributeGroup"/>
  </xs:attributeGroup>

  <xs:attributeGroup name="coreAttributeGroupNodir">
    <xs:attribute name="class" type="tokens"/>
    <xs:attribute name="hidden">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="hidden"/>
          <xs:enumeration value=""/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="id">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:pattern value="\S+"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="lang" type="languageTag"/>
    <xs:attribute name="style" type="string"/>
    <xs:attribute name="title" type="string"/>
  </xs:attributeGroup>


  <!--xs:simpleType name="crossOrigin">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="anonymous"/>
      <xs:enumeration value="use-credentials"/>
    </xs:restriction>
  </xs:simpleType-->

  <xs:simpleType name="idref">
    <xs:restriction base="xs:token">
      <xs:pattern value="\S+"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:attributeGroup name="coreAttributeGroup">
    <xs:attributeGroup ref="coreAttributeGroupNodir"/>
    <!--xs:attribute name="dir" type="dir" /-->
  </xs:attributeGroup>

  <!-- eZ Publish embeds ================================================= -->

  <xs:complexType name="ezpublishEmbed">
    <xs:sequence>
      <xs:element name="ezconfig" type="ezconfig" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attributeGroup ref="ezembedAttributeGroup"/>
  </xs:complexType>

  <xs:attributeGroup name="ezembedAttributeGroup">
    <xs:attribute name="href" type="uri" use="required"/>
    <xs:attribute name="data-ezview" type="token" use="required"/>
    <xs:attribute name="data-ezalign" type="token"/>
    <xs:attribute name="class" type="tokens"/>
  </xs:attributeGroup>

  <!-- eZ Publish template elements ================================================= -->

  <xs:complexType name="ezpublishTemplate">
    <xs:sequence>
      <xs:element name="ezcontent" type="ezcontent" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ezconfig" type="ezconfig" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attributeGroup ref="eztemplateAttributeGroup"/>
  </xs:complexType>

  <xs:complexType name="ezpublishTemplateInline">
    <xs:sequence>
      <xs:element name="ezcontent" type="ezcontentinline" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ezconfig" type="ezconfig" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attributeGroup ref="eztemplateInlineAttributeGroup"/>
  </xs:complexType>

  <xs:complexType name="ezcontent" mixed="true">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:group ref="flowContent"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ezcontentinline" mixed="true">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:group ref="phrasingContent"/>
    </xs:sequence>
  </xs:complexType>

  <xs:attributeGroup name="eztemplateAttributeGroup">
    <xs:attribute name="data-ezname" type="token" use="required"/>
    <xs:attribute name="data-ezalign" type="token"/>
    <xs:attribute name="class" type="tokens"/>
  </xs:attributeGroup>

  <xs:attributeGroup name="eztemplateInlineAttributeGroup">
    <xs:attribute name="data-ezname" type="token" use="required"/>
    <xs:attribute name="class" type="tokens"/>
  </xs:attributeGroup>

  <!-- eZ Publish embed and template configuration elements ================================================= -->

  <xs:complexType name="ezconfig" mixed="false">
    <xs:sequence>
      <xs:element name="ezvalue" type="ezvalue" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="key" type="token"/>
  </xs:complexType>

  <xs:complexType name="ezvalue" mixed="true">
    <xs:sequence>
      <xs:element name="ezvalue" type="ezvalue" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="key" type="token"/>
  </xs:complexType>

  <!-- Common content models ============================================= -->

  <xs:group name="flowContent">
    <xs:choice>
      <xs:group ref="commonPhrasingElements"/>
      <xs:element name="a">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="flowContentElement">
              <xs:attributeGroup ref="aAttributeGroup"/>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element ref="p"/>
      <xs:element ref="hr"/>
      <xs:element ref="pre"/>
      <xs:element ref="ul"/>
      <xs:element ref="ol"/>
      <!--xs:element ref="dl"/-->
      <xs:element ref="h1"/>
      <xs:element ref="h2"/>
      <xs:element ref="h3"/>
      <xs:element ref="h4"/>
      <xs:element ref="h5"/>
      <xs:element ref="h6"/>
      <!--xs:element ref="hgroup"/-->
      <xs:element ref="blockquote"/>
      <!--xs:element ref="address"/-->
      <!--xs:element name="ins" type="insFlow"/-->
      <xs:element name="del" type="delFlow"/>
      <!--xs:element name="object" type="objectFlow"/-->
      <xs:element ref="section"/>
      <!--xs:element ref="aside"/-->
      <!--xs:element ref="header"/-->
      <!--xs:element ref="footer"/-->
      <!--xs:element name="video" type="videoFlow"/-->
      <!--xs:element name="audio" type="audioFlow"/-->
      <!--xs:element ref="figure"/-->
      <xs:element ref="table"/>
      <!--xs:element name="canvas" type="canvasFlow"/-->
      <!--xs:element ref="details"/-->
      <xs:element name="ezembed" type="ezpublishEmbed"/>
      <xs:element name="eztemplate" type="ezpublishTemplate"/>
    </xs:choice>
  </xs:group>

  <xs:element name="commonPhrasingElement.extension" abstract="true"/>

  <xs:group name="commonPhrasingElements">
    <xs:choice>
      <!--xs:element ref="abbr"/-->
      <xs:element ref="b"/>
      <!--xs:element ref="bdi"/-->
      <!--xs:element ref="bdo"/-->
      <xs:element ref="br"/>
      <!--xs:element ref="cite"/-->
      <!--xs:element ref="code"/-->
      <!--xs:element ref="dfn"/-->
      <xs:element ref="em"/>
      <xs:element ref="embed"/>
      <xs:element ref="i"/>
      <xs:element ref="commonPhrasingElement.extension"/>
      <!--xs:element ref="img"/-->
      <!--xs:element ref="kbd"/-->
      <!--xs:element ref="mark"/-->
      <!--xs:element ref="q"/-->
      <!--xs:element ref="ruby"/-->
      <xs:element ref="s"/>
      <!--xs:element ref="samp"/-->
      <xs:element ref="small"/>
      <xs:element ref="strong"/>
      <xs:element ref="sub"/>
      <xs:element ref="sup"/>
      <!--xs:element ref="time"/-->
      <xs:element ref="u"/>
      <!--xs:element ref="var"/-->
      <!--xs:element ref="wbr"/-->
      <!--xs:any namespace="http://www.w3.org/2000/svg"
              processContents="skip"/-->
      <!--xs:any namespace="http://www.w3.org/1998/Math/MathML"
              processContents="skip"/-->
      <xs:element name="ezembedinline" type="ezpublishEmbed"/>
      <xs:element name="eztemplateinline" type="ezpublishTemplateInline"/>
    </xs:choice>
  </xs:group>

  <xs:group name="phrasingContent">
    <xs:choice>
      <xs:group ref="commonPhrasingElements"/>
      <xs:element name="a">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="phrasingContentElement">
              <xs:attributeGroup ref="aAttributeGroup"/>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>

      <!--xs:element name="audio" type="audioPhrasing"/-->
      <!--xs:element name="canvas" type="canvasPhrasing"/-->
      <xs:element name="del" type="delPhrasing"/>
      <!--xs:element name="ins" type="insPhrasing"/-->
      <!--xs:element name="object" type="objectPhrasing"/-->
      <!--xs:element name="video" type="videoPhrasing"/-->
    </xs:choice>
  </xs:group>

</xs:schema>
