doc/specifications/rest/xsd/VersionInfoList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns="http://ez.no/API/Values" targetNamespace="http://ez.no/API/Values">
  <xsd:include schemaLocation="Version.xsd" />
  <xsd:include schemaLocation="CommonDefinitions.xsd" />
  <xsd:complexType name="vnd.ez.api.VersionList">
    <xsd:complexContent>
      <xsd:extension base="ref">
        <xsd:sequence>
          <xsd:element name="Version" type="vnd.ez.api.Version"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="VersionList" type="vnd.ez.api.VersionList"></xsd:element>
</xsd:schema>