eZ/Publish/Core/FieldType/RichText/Resources/schemas/docbook/ezpublish.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:db="http://docbook.org/ns/docbook"
         xmlns:ez="http://ez.no/xmlns/ezpublish/docbook"
         xmlns:ezxhtml="http://ez.no/xmlns/ezpublish/docbook/xhtml"
         xmlns:ezcustom="http://ez.no/xmlns/ezpublish/docbook/custom"
         xmlns:a="http://ez.no/xmlns/annotation"
         xmlns:m="http://ez.no/xmlns/module"
         ns="http://docbook.org/ns/docbook"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">

  <include href="docbook.rng">
    <start>
      <ref name="db.section"/>
    </start>
    <define name="db.section">
      <ref name="ez.db.section"/>
    </define>
    <define name="db._title.req" combine="choice">
      <a:documentation>
        Needed by the LIBXML engine to allow for multiple title elements on the same level
      </a:documentation>
      <ref name="db.title"/>
    </define>

    <define name="db.blockquote.info" combine="choice">
      <a:documentation>
        Needed by the LIBXML engine to allow for multiple title elements on the same level below blockquote
      </a:documentation>
      <optional>
        <ref name="db.title"/>
      </optional>
    </define>

    <define name="db.superscript.attlist" combine="interleave">
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="db.emphasis"/>
          <ref name="db.link"/>
        </choice>
      </zeroOrMore>
    </define>

    <define name="db.subscript.attlist" combine="interleave">
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="db.emphasis"/>
          <ref name="db.link"/>
        </choice>
      </zeroOrMore>
    </define>

    <define name="db.orderedlist">
      <element name="orderedlist">
        <a:documentation>A list in which each entry is marked with a sequentially incremented label</a:documentation>
        <ref name="db.orderedlist.attlist"/>
        <ref name="db.orderedlist.info"/>
        <!--zeroOrMore>
          <ref name="db.all.blocks"/>
        </zeroOrMore-->
        <oneOrMore>
          <ref name="db.listitem"/>
        </oneOrMore>
      </element>
    </define>
    <define name="db.itemizedlist">
      <element name="itemizedlist">
        <a:documentation>A list in which each entry is marked with a bullet or other dingbat</a:documentation>
        <ref name="db.itemizedlist.attlist"/>
        <ref name="db.itemizedlist.info"/>
        <!--zeroOrMore>
          <ref name="db.all.blocks"/>
        </zeroOrMore-->
        <oneOrMore>
          <ref name="db.listitem"/>
        </oneOrMore>
      </element>
    </define>
    <define name="db.html.informaltable.model">
      <optional>
        <ref name="db.html.informaltable.info"/>
      </optional>
      <choice>
        <zeroOrMore>
          <ref name="db.html.col"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="db.html.colgroup"/>
        </zeroOrMore>
      </choice>
      <optional>
        <ref name="db.html.thead"/>
      </optional>
      <interleave>
        <optional>
          <ref name="db.html.tfoot"/>
        </optional>
        <choice>
          <oneOrMore>
            <ref name="db.html.tbody"/>
          </oneOrMore>
          <oneOrMore>
            <ref name="db.html.tr"/>
          </oneOrMore>
        </choice>
      </interleave>
    </define>
    <define name="db.abbrev"><notAllowed/></define>
    <define name="db.abstract"><notAllowed/></define>
    <define name="db.accel"><notAllowed/></define>
    <define name="db.acknowledgements"><notAllowed/></define>
    <define name="db.acronym"><notAllowed/></define>
    <define name="db.address"><notAllowed/></define>
    <define name="db.affiliation"><notAllowed/></define>
    <define name="db.alt"><notAllowed/></define>
    <!--define name="db.anchor"><notAllowed/></define-->
    <define name="db.annotation"><notAllowed/></define>
    <define name="db.answer"><notAllowed/></define>
    <define name="db.appendix"><notAllowed/></define>
    <define name="db.application"><notAllowed/></define>
    <define name="db.arc"><notAllowed/></define>
    <define name="db.area"><notAllowed/></define>
    <define name="db.areaset"><notAllowed/></define>
    <define name="db.areaspec"><notAllowed/></define>
    <define name="db.arg"><notAllowed/></define>
    <define name="db.article"><notAllowed/></define>
    <define name="db.artpagenums"><notAllowed/></define>
    <!--define name="db.attribution"><notAllowed/></define-->
    <define name="db.audiodata"><notAllowed/></define>
    <define name="db.audioobject"><notAllowed/></define>
    <define name="db.author"><notAllowed/></define>
    <define name="db.authorgroup"><notAllowed/></define>
    <define name="db.authorinitials"><notAllowed/></define>
    <define name="db.bibliocoverage"><notAllowed/></define>
    <define name="db.bibliodiv"><notAllowed/></define>
    <define name="db.biblioentry"><notAllowed/></define>
    <define name="db.bibliography"><notAllowed/></define>
    <define name="db.biblioid"><notAllowed/></define>
    <define name="db.bibliolist"><notAllowed/></define>
    <define name="db.bibliomisc"><notAllowed/></define>
    <define name="db.bibliomixed"><notAllowed/></define>
    <define name="db.bibliomset"><notAllowed/></define>
    <define name="db.biblioref"><notAllowed/></define>
    <define name="db.bibliorelation"><notAllowed/></define>
    <define name="db.biblioset"><notAllowed/></define>
    <define name="db.bibliosource"><notAllowed/></define>
    <!--define name="db.blockquote"><notAllowed/></define-->
    <define name="db.book"><notAllowed/></define>
    <define name="db.bridgehead"><notAllowed/></define>
    <define name="db.callout"><notAllowed/></define>
    <define name="db.calloutlist"><notAllowed/></define>
    <define name="db.caption"><notAllowed/></define>
    <define name="db.caution"><notAllowed/></define>
    <define name="db.chapter"><notAllowed/></define>
    <define name="db.citation"><notAllowed/></define>
    <define name="db.citebiblioid"><notAllowed/></define>
    <define name="db.citerefentry"><notAllowed/></define>
    <define name="db.citetitle"><notAllowed/></define>
    <define name="db.city"><notAllowed/></define>
    <define name="db.classname"><notAllowed/></define>
    <define name="db.classsynopsis"><notAllowed/></define>
    <define name="db.classsynopsisinfo"><notAllowed/></define>
    <define name="db.cmdsynopsis"><notAllowed/></define>
    <define name="db.co"><notAllowed/></define>
    <define name="db.code"><notAllowed/></define>
    <define name="db.collab"><notAllowed/></define>
    <define name="db.colophon"><notAllowed/></define>
    <define name="db.colspec"><notAllowed/></define>
    <define name="db.command"><notAllowed/></define>
    <define name="db.computeroutput"><notAllowed/></define>
    <define name="db.confdates"><notAllowed/></define>
    <define name="db.confgroup"><notAllowed/></define>
    <define name="db.confnum"><notAllowed/></define>
    <define name="db.confsponsor"><notAllowed/></define>
    <define name="db.conftitle"><notAllowed/></define>
    <define name="db.constant"><notAllowed/></define>
    <define name="db.constraint"><notAllowed/></define>
    <define name="db.constraintdef"><notAllowed/></define>
    <define name="db.constructorsynopsis"><notAllowed/></define>
    <define name="db.contractnum"><notAllowed/></define>
    <define name="db.contractsponsor"><notAllowed/></define>
    <define name="db.contrib"><notAllowed/></define>
    <define name="db.copyright"><notAllowed/></define>
    <define name="db.coref"><notAllowed/></define>
    <define name="db.country"><notAllowed/></define>
    <define name="db.cover"><notAllowed/></define>
    <define name="db.database"><notAllowed/></define>
    <define name="db.date"><notAllowed/></define>
    <define name="db.dedication"><notAllowed/></define>
    <define name="db.destructorsynopsis"><notAllowed/></define>
    <define name="db.edition"><notAllowed/></define>
    <define name="db.editor"><notAllowed/></define>
    <define name="db.email"><notAllowed/></define>
    <!--define name="db.emphasis"><notAllowed/></define-->
    <define name="db._emphasis"><notAllowed/></define>
    <define name="db.entry"><notAllowed/></define>
    <define name="db.entrytbl"><notAllowed/></define>
    <define name="db.envar"><notAllowed/></define>
    <define name="db.epigraph"><notAllowed/></define>
    <define name="db.equation"><notAllowed/></define>
    <define name="db.errorcode"><notAllowed/></define>
    <define name="db.errorname"><notAllowed/></define>
    <define name="db.errortext"><notAllowed/></define>
    <define name="db.errortype"><notAllowed/></define>
    <define name="db.example"><notAllowed/></define>
    <define name="db.exceptionname"><notAllowed/></define>
    <define name="db.extendedlink"><notAllowed/></define>
    <define name="db.fax"><notAllowed/></define>
    <define name="db.fieldsynopsis"><notAllowed/></define>
    <define name="db.figure"><notAllowed/></define>
    <define name="db.filename"><notAllowed/></define>
    <define name="db.firstname"><notAllowed/></define>
    <define name="db.firstterm"><notAllowed/></define>
    <define name="db.footnote"><notAllowed/></define>
    <define name="db.footnoteref"><notAllowed/></define>
    <define name="db.foreignphrase"><notAllowed/></define>
    <define name="db.formalpara"><notAllowed/></define>
    <define name="db.funcdef"><notAllowed/></define>
    <define name="db.funcparams"><notAllowed/></define>
    <define name="db.funcprototype"><notAllowed/></define>
    <define name="db.funcsynopsis"><notAllowed/></define>
    <define name="db.funcsynopsisinfo"><notAllowed/></define>
    <define name="db.function"><notAllowed/></define>
    <define name="db.glossary"><notAllowed/></define>
    <define name="db.glossdef"><notAllowed/></define>
    <define name="db.glossdiv"><notAllowed/></define>
    <define name="db.glossentry"><notAllowed/></define>
    <define name="db.glosslist"><notAllowed/></define>
    <define name="db.glosssee"><notAllowed/></define>
    <define name="db.glossseealso"><notAllowed/></define>
    <define name="db.glossterm"><notAllowed/></define>
    <define name="db.group"><notAllowed/></define>
    <define name="db.guibutton"><notAllowed/></define>
    <define name="db.guiicon"><notAllowed/></define>
    <define name="db.guilabel"><notAllowed/></define>
    <define name="db.guimenu"><notAllowed/></define>
    <define name="db.guimenuitem"><notAllowed/></define>
    <define name="db.guisubmenu"><notAllowed/></define>
    <define name="db.hardware"><notAllowed/></define>
    <define name="db.holder"><notAllowed/></define>
    <define name="db.honorific"><notAllowed/></define>
    <define name="db.imagedata"><notAllowed/></define>
    <define name="db.imageobject"><notAllowed/></define>
    <define name="db.imageobjectco"><notAllowed/></define>
    <define name="db.important"><notAllowed/></define>
    <define name="db.index"><notAllowed/></define>
    <define name="db.indexdiv"><notAllowed/></define>
    <define name="db.indexentry"><notAllowed/></define>
    <define name="db.indexterm"><notAllowed/></define>
    <define name="db.info"><notAllowed/></define>
    <define name="db.informalequation"><notAllowed/></define>
    <define name="db.informalexample"><notAllowed/></define>
    <define name="db.informalfigure"><notAllowed/></define>
    <!--define name="db.informaltable"><notAllowed/></define-->
    <define name="db.cals.informaltable"><notAllowed/></define>
    <define name="db.initializer"><notAllowed/></define>
    <define name="db.inlineequation"><notAllowed/></define>
    <define name="db.inlinemediaobject"><notAllowed/></define>
    <define name="db.interfacename"><notAllowed/></define>
    <define name="db.issuenum"><notAllowed/></define>
    <!--define name="db.itemizedlist"><notAllowed/></define-->
    <define name="db.itermset"><notAllowed/></define>
    <define name="db.jobtitle"><notAllowed/></define>
    <define name="db.keycap"><notAllowed/></define>
    <define name="db.keycode"><notAllowed/></define>
    <define name="db.keycombo"><notAllowed/></define>
    <define name="db.keysym"><notAllowed/></define>
    <define name="db.keyword"><notAllowed/></define>
    <define name="db.keywordset"><notAllowed/></define>
    <define name="db.label"><notAllowed/></define>
    <define name="db.legalnotice"><notAllowed/></define>
    <define name="db.lhs"><notAllowed/></define>
    <define name="db.lineage"><notAllowed/></define>
    <define name="db.lineannotation"><notAllowed/></define>
    <!--define name="db.link"><notAllowed/></define-->
    <!--define name="db.listitem"><notAllowed/></define-->
    <define name="db.literal"><notAllowed/></define>
    <!--define name="db.literallayout"><notAllowed/></define-->
    <define name="db.locator"><notAllowed/></define>
    <define name="db.manvolnum"><notAllowed/></define>
    <define name="db.markup"><notAllowed/></define>
    <define name="db.mathphrase"><notAllowed/></define>
    <define name="db.mediaobject"><notAllowed/></define>
    <define name="db.member"><notAllowed/></define>
    <define name="db.menuchoice"><notAllowed/></define>
    <define name="db.methodname"><notAllowed/></define>
    <define name="db.methodparam"><notAllowed/></define>
    <define name="db.methodsynopsis"><notAllowed/></define>
    <define name="db.modifier"><notAllowed/></define>
    <define name="db.mousebutton"><notAllowed/></define>
    <define name="db.msg"><notAllowed/></define>
    <define name="db.msgaud"><notAllowed/></define>
    <define name="db.msgentry"><notAllowed/></define>
    <define name="db.msgexplan"><notAllowed/></define>
    <define name="db.msginfo"><notAllowed/></define>
    <define name="db.msglevel"><notAllowed/></define>
    <define name="db.msgmain"><notAllowed/></define>
    <define name="db.msgorig"><notAllowed/></define>
    <define name="db.msgrel"><notAllowed/></define>
    <define name="db.msgset"><notAllowed/></define>
    <define name="db.msgsub"><notAllowed/></define>
    <define name="db.msgtext"><notAllowed/></define>
    <define name="db.nonterminal"><notAllowed/></define>
    <define name="db.note"><notAllowed/></define>
    <define name="db.olink"><notAllowed/></define>
    <define name="db.ooclass"><notAllowed/></define>
    <define name="db.ooexception"><notAllowed/></define>
    <define name="db.oointerface"><notAllowed/></define>
    <define name="db.option"><notAllowed/></define>
    <define name="db.optional"><notAllowed/></define>
    <!--define name="db.orderedlist"><notAllowed/></define-->
    <define name="db.org"><notAllowed/></define>
    <define name="db.orgdiv"><notAllowed/></define>
    <define name="db.orgname"><notAllowed/></define>
    <define name="db.otheraddr"><notAllowed/></define>
    <define name="db.othercredit"><notAllowed/></define>
    <define name="db.othername"><notAllowed/></define>
    <define name="db.package"><notAllowed/></define>
    <define name="db.pagenums"><notAllowed/></define>
    <!--define name="db.para"><notAllowed/></define-->
    <define name="db.paramdef"><notAllowed/></define>
    <define name="db.parameter"><notAllowed/></define>
    <define name="db.part"><notAllowed/></define>
    <define name="db.partintro"><notAllowed/></define>
    <define name="db.person"><notAllowed/></define>
    <define name="db.personblurb"><notAllowed/></define>
    <define name="db.personname"><notAllowed/></define>
    <define name="db.phone"><notAllowed/></define>
    <define name="db.phrase"><notAllowed/></define>
    <define name="db.pob"><notAllowed/></define>
    <define name="db.postcode"><notAllowed/></define>
    <define name="db.preface"><notAllowed/></define>
    <define name="db.primary"><notAllowed/></define>
    <define name="db.primaryie"><notAllowed/></define>
    <define name="db.printhistory"><notAllowed/></define>
    <define name="db.procedure"><notAllowed/></define>
    <define name="db.production"><notAllowed/></define>
    <define name="db.productionrecap"><notAllowed/></define>
    <define name="db.productionset"><notAllowed/></define>
    <define name="db.productname"><notAllowed/></define>
    <define name="db.productnumber"><notAllowed/></define>
    <define name="db.programlisting"><notAllowed/></define>
    <define name="db.programlistingco"><notAllowed/></define>
    <define name="db.prompt"><notAllowed/></define>
    <define name="db.property"><notAllowed/></define>
    <define name="db.pubdate"><notAllowed/></define>
    <define name="db.publisher"><notAllowed/></define>
    <define name="db.publishername"><notAllowed/></define>
    <define name="db.qandadiv"><notAllowed/></define>
    <define name="db.qandaentry"><notAllowed/></define>
    <define name="db.qandaset"><notAllowed/></define>
    <define name="db.question"><notAllowed/></define>
    <define name="db.quote"><notAllowed/></define>
    <define name="db.refclass"><notAllowed/></define>
    <define name="db.refdescriptor"><notAllowed/></define>
    <define name="db.refentry"><notAllowed/></define>
    <define name="db.refentrytitle"><notAllowed/></define>
    <define name="db.reference"><notAllowed/></define>
    <define name="db.refmeta"><notAllowed/></define>
    <define name="db.refmiscinfo"><notAllowed/></define>
    <define name="db.refname"><notAllowed/></define>
    <define name="db.refnamediv"><notAllowed/></define>
    <define name="db.refpurpose"><notAllowed/></define>
    <define name="db.refsect1"><notAllowed/></define>
    <define name="db.refsect2"><notAllowed/></define>
    <define name="db.refsect3"><notAllowed/></define>
    <define name="db.refsection"><notAllowed/></define>
    <define name="db.refsynopsisdiv"><notAllowed/></define>
    <define name="db.releaseinfo"><notAllowed/></define>
    <define name="db.remark"><notAllowed/></define>
    <define name="db.replaceable"><notAllowed/></define>
    <define name="db.returnvalue"><notAllowed/></define>
    <define name="db.revdescription"><notAllowed/></define>
    <define name="db.revhistory"><notAllowed/></define>
    <define name="db.revision"><notAllowed/></define>
    <define name="db.revnumber"><notAllowed/></define>
    <define name="db.revremark"><notAllowed/></define>
    <define name="db.rhs"><notAllowed/></define>
    <define name="db.row"><notAllowed/></define>
    <define name="db.sbr"><notAllowed/></define>
    <define name="db.screen"><notAllowed/></define>
    <define name="db.screenco"><notAllowed/></define>
    <define name="db.screenshot"><notAllowed/></define>
    <define name="db.secondary"><notAllowed/></define>
    <define name="db.secondaryie"><notAllowed/></define>
    <define name="db.sect1"><notAllowed/></define>
    <define name="db.sect2"><notAllowed/></define>
    <define name="db.sect3"><notAllowed/></define>
    <define name="db.sect4"><notAllowed/></define>
    <define name="db.sect5"><notAllowed/></define>
    <define name="db.see"><notAllowed/></define>
    <define name="db.seealso"><notAllowed/></define>
    <define name="db.seealsoie"><notAllowed/></define>
    <define name="db.seeie"><notAllowed/></define>
    <define name="db.seg"><notAllowed/></define>
    <define name="db.seglistitem"><notAllowed/></define>
    <define name="db.segmentedlist"><notAllowed/></define>
    <define name="db.segtitle"><notAllowed/></define>
    <define name="db.seriesvolnums"><notAllowed/></define>
    <define name="db.set"><notAllowed/></define>
    <define name="db.setindex"><notAllowed/></define>
    <define name="db.shortaffil"><notAllowed/></define>
    <define name="db.shortcut"><notAllowed/></define>
    <define name="db.sidebar"><notAllowed/></define>
    <define name="db.simpara"><notAllowed/></define>
    <define name="db.simplelist"><notAllowed/></define>
    <define name="db.simplemsgentry"><notAllowed/></define>
    <define name="db.simplesect"><notAllowed/></define>
    <define name="db.spanspec"><notAllowed/></define>
    <define name="db.state"><notAllowed/></define>
    <define name="db.step"><notAllowed/></define>
    <define name="db.stepalternatives"><notAllowed/></define>
    <define name="db.street"><notAllowed/></define>
    <define name="db.subject"><notAllowed/></define>
    <define name="db.subjectset"><notAllowed/></define>
    <define name="db.subjectterm"><notAllowed/></define>
    <!--define name="db.subscript"><notAllowed/></define-->
    <define name="db.substeps"><notAllowed/></define>
    <define name="db.subtitle"><notAllowed/></define>
    <!--define name="db.superscript"><notAllowed/></define-->
    <define name="db.surname"><notAllowed/></define>
    <define name="db.symbol"><notAllowed/></define>
    <define name="db.synopfragment"><notAllowed/></define>
    <define name="db.synopfragmentref"><notAllowed/></define>
    <define name="db.synopsis"><notAllowed/></define>
    <define name="db.systemitem"><notAllowed/></define>
    <!--define name="db.table"><notAllowed/></define-->
    <define name="db.cals.table"><notAllowed/></define>
    <define name="db.tag"><notAllowed/></define>
    <define name="db.task"><notAllowed/></define>
    <define name="db.taskprerequisites"><notAllowed/></define>
    <define name="db.taskrelated"><notAllowed/></define>
    <define name="db.tasksummary"><notAllowed/></define>
    <define name="db.term"><notAllowed/></define>
    <define name="db.termdef"><notAllowed/></define>
    <define name="db.tertiary"><notAllowed/></define>
    <define name="db.tertiaryie"><notAllowed/></define>
    <define name="db.textdata"><notAllowed/></define>
    <define name="db.textobject"><notAllowed/></define>
    <define name="db.tgroup"><notAllowed/></define>
    <define name="db.tip"><notAllowed/></define>
    <!--define name="db.title"><notAllowed/></define-->
    <define name="db.titleabbrev"><notAllowed/></define>
    <define name="db.toc"><notAllowed/></define>
    <define name="db.tocdiv"><notAllowed/></define>
    <define name="db.tocentry"><notAllowed/></define>
    <define name="db.token"><notAllowed/></define>
    <define name="db.trademark"><notAllowed/></define>
    <define name="db.type"><notAllowed/></define>
    <define name="db.uri"><notAllowed/></define>
    <define name="db.userinput"><notAllowed/></define>
    <define name="db.varargs"><notAllowed/></define>
    <define name="db.variablelist"><notAllowed/></define>
    <define name="db.varlistentry"><notAllowed/></define>
    <define name="db.varname"><notAllowed/></define>
    <define name="db.videodata"><notAllowed/></define>
    <define name="db.videoobject"><notAllowed/></define>
    <define name="db.void"><notAllowed/></define>
    <define name="db.volumenum"><notAllowed/></define>
    <define name="db.warning"><notAllowed/></define>
    <define name="db.wordasword"><notAllowed/></define>
    <define name="db.xref"><notAllowed/></define>
    <define name="db.year"><notAllowed/></define>
  </include>

  <define name="ez.db.section">
    <element name="section">
      <a:documentation>
        eZ Publish customized recursive section.
      </a:documentation>
      <ref name="db.section.attlist"/>
      <zeroOrMore>
        <choice>
          <ref name="db.section.info"/>
          <ref name="db.recursive.blocks.or.sections"/>
          <ref name="db.navigation.components"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>

  <define name="ez.embed">
    <element name="ezembed">
      <ref name="ez.embed.content"/>
    </element>
  </define>

  <define name="ez.embedinline">
    <element name="ezembedinline">
      <ref name="ez.embed.content"/>
    </element>
  </define>

  <define name="ez.embed.content">
    <a:documentation>
      content eZ Publish embed elements.
    </a:documentation>
    <ref name="ez.embed.attlist"/>
    <interleave>
      <optional>
        <ref name="ez.embed.link"/>
      </optional>
      <optional>
        <element name="ezconfig">
          <ref name="ez.config.hash"/>
        </element>
      </optional>
    </interleave>
  </define>

  <define name="ez.embed.link">
    <a:documentation>
      Link as a property of embed.
    </a:documentation>
    <element name="ezlink">
      <ref name="ez.embed.link.attlist"/>
    </element>
  </define>

  <define name="ez.embed.link.attlist">
    <ref name="ez.embed.link.attributes"/>
  </define>

  <define name="ez.embed.link.attributes">
    <ref name="db.href.attributes"/>
    <optional>
      <ref name="db.xml.id.attribute"/>
    </optional>
    <optional>
      <ref name="ez.xhtml.class.attribute"/>
    </optional>
  </define>

  <div>
    <a:documentation>
      eZ Publish template tags
    </a:documentation>
    <define name="ez.template">
      <element name="eztemplate">
        <ref name="ez.template.contentmodel"/>
      </element>
    </define>
    <define name="ez.templateinline">
      <element name="eztemplateinline">
        <ref name="ez.template.contentmodel.inline"/>
      </element>
    </define>
    <define name="ez.template.contentmodel">
      <ref name="ez.template.attlist"/>
      <optional>
        <ref name="ez.template.content"/>
      </optional>
      <optional>
        <element name="ezconfig">
          <ref name="ez.config.hash"/>
        </element>
      </optional>
    </define>
    <define name="ez.template.contentmodel.inline">
      <ref name="ez.template.attlist.inline"/>
      <optional>
        <ref name="ez.template.content.inline"/>
      </optional>
      <optional>
        <element name="ezconfig">
          <ref name="ez.config.hash"/>
        </element>
      </optional>
    </define>
    <define name="ez.template.content">
      <element name="ezcontent">
        <zeroOrMore>
          <choice>
            <text/>
            <ref name="db.recursive.blocks.or.sections"/>
          </choice>
        </zeroOrMore>
      </element>
    </define>
    <define name="ez.template.content.inline">
      <element name="ezcontent">
        <zeroOrMore>
          <ref name="db.all.inlines"/>
        </zeroOrMore>
      </element>
    </define>
    <define name="ez.template.attlist.inline">
      <ref name="ez.template.attributes.inline"/>
    </define>
    <define name="ez.template.attributes.inline">
      <attribute name="name">
        <data type="string">
          <param name="pattern">[A-Za-z][A-Za-z0-9_\-]*</param>
        </data>
      </attribute>
      <optional>
        <ref name="ez.xhtml.class.attribute"/>
      </optional>
    </define>
    <define name="ez.template.attlist">
      <ref name="ez.template.attributes"/>
    </define>
    <define name="ez.template.attributes">
      <optional>
        <ref name="ez.xhtml.align"/>
      </optional>
      <ref name="ez.template.attributes.inline"/>
    </define>
  </div>

  <div>
    <a:documentation>
      eZ Publish custom styles
    </a:documentation>
    <define name="ez.style">
      <element name="ezstyle">
        <ref name="ez.style.contentmodel"/>
      </element>
    </define>
    <define name="ez.styleinline">
      <element name="ezstyleinline">
        <ref name="ez.style.contentmodel.inline"/>
      </element>
    </define>
    <define name="ez.style.contentmodel">
      <ref name="ez.style.attlist"/>
      <zeroOrMore>
        <choice>
          <ref name="db.all.inlines"/>
          <ref name="db.recursive.blocks.or.sections"/>
        </choice>
      </zeroOrMore>
    </define>
    <define name="ez.style.contentmodel.inline">
      <ref name="ez.style.attlist.inline"/>
      <zeroOrMore>
        <choice>
          <ref name="db.all.inlines"/>
        </choice>
      </zeroOrMore>
    </define>
    <define name="ez.style.attlist.inline">
      <ref name="ez.style.attributes.inline"/>
    </define>
    <define name="ez.style.attributes.inline">
      <attribute name="name">
        <data type="string">
          <param name="pattern">[A-Za-z][A-Za-z0-9_\-]*</param>
        </data>
      </attribute>
      <optional>
        <ref name="ez.xhtml.class.attribute"/>
      </optional>
    </define>
    <define name="ez.style.attlist">
      <ref name="ez.style.attributes"/>
    </define>
    <define name="ez.style.attributes">
      <optional>
        <ref name="ez.xhtml.align"/>
      </optional>
      <ref name="ez.style.attributes.inline"/>
    </define>
  </div>

  <define name="ez.embed.attributes">
    <ref name="db.xlink.href.attribute"/>
    <optional>
      <ref name="db.xml.id.attribute"/>
    </optional>
    <optional>
      <attribute name="view">
        <data type="string"><param name="pattern">[A-Za-z][A-Za-z0-9_\-]*</param></data>
      </attribute>
    </optional>
    <optional>
      <ref name="ez.xhtml.align"/>
    </optional>
    <optional>
      <ref name="ez.xhtml.class.attribute"/>
    </optional>
  </define>

  <define name="ez.embed.attlist">
    <ref name="ez.embed.attributes"/>
  </define>

  <define name="ez.config.hash">
    <oneOrMore>
      <element name="ezvalue">
        <attribute name="key">
          <text/>
        </attribute>
        <choice>
          <ref name="ez.config.hash"/>
          <text/>
        </choice>
      </element>
    </oneOrMore>
  </define>

  <!--define name="ez.elements.all">
    <interleave>
      <zeroOrMore>
        <ref name="ez.custom"/>
      </zeroOrMore>
    </interleave>
  </define-->

  <div>
    <a:documentation>
      Adding ezxhtml:class attribute to the selected elements.
    </a:documentation>
    <define name="db.para.attlist" combine="interleave"><ref name="ez.xhtml.class.attribute"/></define>
    <define name="db.title.attlist" combine="interleave"><ref name="ez.xhtml.class.attribute"/></define>
    <!--define name="db.html.th.attlist" combine="interleave"><ref name="ez.xhtml.class.attribute"/></define-->
    <!--define name="db.html.td.attlist" combine="interleave"><ref name="ez.xhtml.class.attribute"/></define-->
    <define name="db.itemizedlist.attlist" combine="interleave"><ref name="ez.xhtml.class.attribute"/></define>
    <define name="db.orderedlist.attlist" combine="interleave"><ref name="ez.xhtml.class.attribute"/></define>
    <define name="db.listitem.attlist" combine="interleave"><ref name="ez.xhtml.class.attribute"/></define>
    <define name="db.emphasis.attlist" combine="interleave"><ref name="ez.xhtml.class.attribute"/></define>
    <!--define name="db.html.table.attributes" combine="interleave"><ref name="ez.xhtml.class.attribute"/></define-->
    <define name="db.link.attlist" combine="interleave"><ref name="ez.xhtml.class.attribute"/></define>
    <define name="ez.xhtml.class.attribute">
      <optional>
        <attribute name="ezxhtml:class"><text/></attribute>
      </optional>
    </define>
  </div>

  <div>
    <a:documentation>
      Adding ezxhtml:width attribute to the selected elements.
    </a:documentation>
    <define name="db.html.tablecell.attributes" combine="interleave">
      <ref name="ez.xhtml.tablerow_or_tablecell.width"/>
    </define>
    <define name="db.html.tr.attlist" combine="interleave">
      <ref name="ez.xhtml.tablerow_or_tablecell.width"/>
    </define>
    <define name="ez.xhtml.tablerow_or_tablecell.width">
      <optional>
        <attribute name="ezxhtml:width">
          <a:documentation>
            Table cell width, unit can be 'px' or '%'.
          </a:documentation>
          <choice>
            <data type="string"><param name="pattern">[0-9]+</param></data>
            <data type="string"><param name="pattern">[0-9]+%</param></data>
          </choice>
        </attribute>
      </optional>
    </define>
  </div>

  <div>
    <a:documentation>
      Adding ezxhtml:textalign attribute to the selected elements.
    </a:documentation>
    <define name="db.para.attlist" combine="interleave">
      <optional>
        <ref name="ez.xhtml.textalign"/>
      </optional>
    </define>
    <define name="db.title.attlist" combine="interleave">
      <optional>
        <ref name="ez.xhtml.textalign"/>
      </optional>
    </define>
    <define name="db.html.th.attlist" combine="interleave">
      <optional>
        <ref name="ez.xhtml.textalign"/>
      </optional>
    </define>
    <define name="db.html.td.attlist" combine="interleave">
      <optional>
        <ref name="ez.xhtml.textalign"/>
      </optional>
    </define>
  </div>

  <define name="ez.xhtml.textalign">
    <a:documentation>
      ezxhtml:textalign attribute.
    </a:documentation>
    <attribute name="ezxhtml:textalign">
      <choice>
        <value>left</value>
        <value>center</value>
        <value>right</value>
        <value>justify</value>
      </choice>
    </attribute>
  </define>

  <define name="ez.xhtml.align">
    <a:documentation>
      ezxhtml:align attribute.
    </a:documentation>
    <attribute name="ezxhtml:align">
      <choice>
        <value>left</value>
        <value>center</value>
        <value>right</value>
      </choice>
    </attribute>
  </define>

  <div>
    <a:documentation>
      Adding optional ezxhtml:level attribute to the "title" element.
    </a:documentation>
    <define name="db.title.attlist" combine="interleave"><ref name="ez.xhtml.title.level"/></define>
    <define name="ez.xhtml.title.level">
      <optional>
        <attribute name="ezxhtml:level">
          <choice>
            <a:documentation>
              Levels 1-6 are allowed, mapping to HTML H{level} tags.
            </a:documentation>
            <data type="string"><param name="pattern">[1-6]</param></data>
          </choice>
        </attribute>
      </optional>
    </define>
  </div>

  <define name="db.extension.inlines" combine="choice">
    <zeroOrMore>
      <choice>
        <ref name="ez.embedinline"/>
        <ref name="ez.templateinline"/>
        <ref name="ez.styleinline"/>
        <ref name="ez.extension.inlines"/>
      </choice>
    </zeroOrMore>
  </define>

  <define name="ez.extension.inlines">
    <a:documentation>
      eZ Publish custom inline tags extension point.
      By default nothing is allowed, only an extension pattern is defined.
    </a:documentation>
    <notAllowed/>
  </define>

  <define name="db.extension.blocks" combine="choice">
    <zeroOrMore>
      <choice>
        <ref name="db.title"/>
        <ref name="ez.embed"/>
        <ref name="ez.template"/>
        <ref name="ez.style"/>
        <ref name="ez.extension.blocks"/>
      </choice>
    </zeroOrMore>
  </define>

  <define name="ez.extension.blocks">
    <a:documentation>
      eZ Publish custom block tags extension point.
      By default nothing is allowed, only an extension pattern is defined.
    </a:documentation>
    <notAllowed/>
  </define>

</grammar>
