xsd/BinaryOutput.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="ezimage">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="original">
          <xsd:complexType>
            <xsd:attribute name="attribute_id" type="xsd:int" />
            <xsd:attribute name="attribute_version" type="xsd:int" />
            <xsd:attribute name="attribute_language" type="xsd:string" />
          </xsd:complexType>
        </xsd:element>
        <xsd:element maxOccurs="unbounded" name="alias">
          <xsd:complexType>
            <xsd:attribute name="name" type="xsd:string" />
            <xsd:attribute name="filename" type="xsd:string" />
            <xsd:attribute name="suffix" type="xsd:string" />
            <xsd:attribute name="dirpath" type="xsd:string" />
            <xsd:attribute name="url" type="xsd:string" />
            <xsd:attribute name="mime_type" type="xsd:string" />
            <xsd:attribute name="width" type="xsd:int" />
            <xsd:attribute name="height" type="xsd:int" />
            <xsd:attribute name="alias_key" type="xsd:decimal" />
            <xsd:attribute name="timestamp" type="xsd:int" />
            <xsd:attribute name="is_valid" type="xsd:int" />
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="serial_number" type="xsd:int" />
      <xsd:attribute name="is_valid" type="xsd:int" />
      <xsd:attribute name="filename" type="xsd:string" />
      <xsd:attribute name="suffix" type="xsd:string" />
      <xsd:attribute name="basename" type="xsd:string" />
      <xsd:attribute name="dirpath" type="xsd:string" />
      <xsd:attribute name="url" type="xsd:string" />
      <xsd:attribute name="original_filename" type="xsd:string" />
      <xsd:attribute name="mime_type" type="xsd:string" />
      <xsd:attribute name="width" type="xsd:int" />
      <xsd:attribute name="height" type="xsd:int" />
      <xsd:attribute name="alternative_text" type="xsd:string" />
      <xsd:attribute name="alias_key" type="xsd:int" />
      <xsd:attribute name="timestamp" type="xsd:int" />
    </xsd:complexType>
  </xsd:element>
</xsd:schema>