xsd/VersionInfoList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns="http://ez.no/API/Values" targetNamespace="http://ez.no/API/Values">
  <xsd:include schemaLocation="Version.xsd" />
  <xsd:include schemaLocation="CommonDefinitions.xsd" />
  <xsd:complexType name="versionListType">
    <xsd:complexContent>
      <xsd:extension base="ref">
        <xsd:sequence>
          <xsd:element name="Version" type="versionType"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="VersionList" type="versionListType"></xsd:element>
</xsd:schema>