xsd/Version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
            xmlns="http://ez.no/API/Values/Version"
            xmlns="http://ez.no/API/Values/VersionInfo"
            targetNamespace="http://ez.no/API/Values/Version">
    <xsd:import namespace="http://ez.no/API/Values/VersionInfo" schemaLocation="VersionInfo.xsd"/>
    <xsd:complexType name="versionType">
       <xsd:element name="VersionInfo" type="versionInfoType"/>
       
    </xsd:complexType>

    <xsd:element name="Version" type="versionType"></xsd:element>
</xsd:schema>